.card{
    width: 20%;
    height: 50vh;
    background: linear-gradient(to right,#0e1728 50%,#000721 50%);
    color: #fff;
    font-family:  sans-serif;
    padding: 1.5rem;
    position: relative;
    z-index: 100;
    border: solid 2px black;;
}
.content{
    margin-top: 7rem;
}
.button{
    padding: .8rem 1.6rem;
    background: transparent;
    color: #fff;
    border: solid .3px #fff;
    display: none;
}
.button:hover{
    background-color: #fff;
    color: #000721;
}
.card:hover .button {
    display: inline-block;
    cursor: pointer;
    
}
.card:hover .num {
   transform: translateY(-50px);
   transition: transform 200ms ease-in;
}

.num{
    margin-left: 6.6rem;
    margin-top: -4rem;
    font-weight: 800;
    font-size: 8rem;
    position: absolute;
    z-index: -100;
    color: #181f2f;
    font-stretch: condensed;
}
